
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<table>
    <tr>
        <td>access token</td>
        <td>@ViewData["accessToken"]</td>
    </tr>
    <tr>
        <td>posts</td>
        <td>@ViewData["json"]</td>
    </tr>
</table>
